{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Category</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container form-box">

    <h2>Add Category</h2>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn save">
            Save
        </button>

        <a href="{% url 'task-list' %}" class="btn back">
            Back
        </a>
    </form>

</div>

</body>
</html>
